* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

@font-face {
	font-family: batman;
	src: url(../fonts/batmfo__.ttf);
}

.navbar {
	width: 100%;
	background-color: #F7F7F7;
	position: fixed;
	top: 0;
}

.navbar > .navbar-list {
	list-style-type: none;
	margin: 0;
	float: right;
	font-size: 0;
}

.navbar > .navbar-list > .navbar-item {
	display: inline-block;
	font-size: 16px;
}


.navbar > .navbar-list > .navbar-item > .navbar-link {
	display: inline-block;
	text-decoration: none;
	padding: 20px;
	color: rgba(0, 0, 0, 0.92);
	transition: all 0.5s;
}

.navbar > .navbar-list > .navbar-item.active > .navbar-link {
	color: #F7F7F7;
	background-color: #A4A4A4;
}

.navbar > .navbar-list > .navbar-item > .navbar-link:hover {
	color: #F7F7F7;
	background-color: #A4A4A4;
}

.header > .title {
	position: absolute;
	top: 65%;
	width: 100%;
	color: white;
	font-family: batman;
	text-align: center;
	font-size: 100px;
	visibility: hidden;
	animation: titleAnimation 2s forwards;
	animation-delay: 0.5s;

}

.header > .title-img {
	width: 100%;
	background-image: url("../images/batman.jpg");
	height: 100vh;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	transition: background-size 1s;
}

.header > .title-img:hover {
	background-size: 115% 115%;
}

.header > .title-cite {	
	position: absolute;
	top: 60%;
	color: white;
	width: 100%;
	text-align: center;
	font-family: batman;
	font-size: 28px;
	opacity: 0;
	animation: subtitleAnimation 3s forwards;
	animation-delay: 0.8s;
}

.about-me > .batman-video {
	max-width: 50%;
	float: left;
}

.about-me > .batman-info {
	max-width: 50%;
	float: right;
}

.team-member-photo img {
	height: 300px;
	max-width: 100%;
	border-radius: 50%;
}

.section-content {
	padding-top: 50px;
	padding-bottom: 50px;
}

.section-content-reverse {
	background-color: rgba(0, 0, 0, 0.92);
	color: white;
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
}

.row-flex {
	display: flex;
	flex-flow: row wrap;
}

.transport-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.transport-img {
	max-width: 100%;
	height: 250px;
	border-radius: 50%;
}

.footer {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.92);
	height: 50px;
	color: #F7F7F7;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.flip {
	height: 305px;
	position: relative;
	text-align: center;
	transform-style: preserve-3d;
} 

.front, .back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transition: transform 1s;
}

.back {
	transform: rotateY(-180deg);
}

.flip:hover .front {
	transform: rotateY(-180deg);
}

.flip:hover .back {
	transform: rotateY(0);
}

@keyframes titleAnimation {
	0% {
		font-size: 200px;
	}
	50% {
		font-size: 180px;
	}
	100% {
		font-size: 100px;
		visibility: visible;
	}

}

@keyframes subtitleAnimation {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}

}

.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}




