body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

@font-face {
	font-family: batman;
	src: url(../fonts/batmfo__.ttf);
}

.navbar {
	width: 100%;
	background-color: #F7F7F7;
	position: fixed;
	top: 0;
}

.navbar > .navbar-list {
	list-style-type: none;
	margin: 0;
	float: right;
	font-size: 0;
}

.navbar > .navbar-list > .navbar-item {
	display: inline-block;
	font-size: 16px;
}


.navbar > .navbar-list > .navbar-item > .navbar-link {
	display: inline-block;
	text-decoration: none;
	padding: 20px;
	color: rgba(0, 0, 0, 0.92);
}

.navbar > .navbar-list > .navbar-item.active > .navbar-link {
	color: #F7F7F7;
	background-color: #A4A4A4;
}

.navbar > .navbar-list > .navbar-item > .navbar-link:hover {
	color: #F7F7F7;
	background-color: #A4A4A4;
}

.header > .title {
	position: absolute;
	top: 65%;
	width: 100%;
	color: white;
	font-family: batman;
	text-align: center;
	font-size: 100px;

}

.header > .title-img {
	width: 100%;
	background-image: url("../images/batman.jpg");
	height: 100vh;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.header > .title-cite {	
	position: absolute;
	top: 60%;
	color: white;
	width: 100%;
	text-align: center;
	font-family: batman;
	font-size: 28px;
}

.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}



