#tasksContainer {
	list-style: none;
	padding: 0;
	margin: 0;
}

#tasksContainer .task-item {
	height: 50px;
	line-height: 50px;
	width: 100%;
	background-color: lightgray;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid black;
}

#tasksContainer .task-item button {
	height: 40px;
	float: right;
	background-color: rgba(255, 0, 0, 0.62);
}

#newTaskName {
	border-radius: 0;
	padding: 10px;
	border: 1px solid #dcdcdc;
	transition: border 0.3, box-shadow 0.3s;
}

#newTaskName:focus {
	border: 1px solid #707070;
	outline: none;
	box-shadow: 0 0 5px 1px #969696;
}